*{
    font-family: 'Inter', sans-serif;
  }

.download-table-xls-button{
    background: #14359F;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: white;
    padding: 0.8rem 1.5rem ;
    cursor: pointer;
    font-weight: 600;
}