.login_section {
  background-image: url("../images/Vector.svg"),
    url("../images/Frame.svg");
  background-position: top left, right bottom;
  background-repeat: no-repeat;
  background-size: min(33%, 600px), min(30%, 400px);
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
}

/* ---------------.form_div-------------- */
.login_section .main_div {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background: rgba(266, 266, 266, 0);
  /* backdrop-filter: blur(2px); */
}

.form_div {
  position: absolute;
  top: 0;
  right: 11%;
  width: 100%;
  height: 6%;

}

.form_div .form {
  position: absolute;
  top: 2%;
  right: 15%;
  /* transform: translate(-50% , -50%); */
  background: rgba(266, 266, 266, 0.8);
  padding: 2rem;
  border-radius: 20px;
  width: min(450px, 90%);
  margin: 2rem 0;
  box-shadow: 0px 0px 10px lightgray;
}




.form_div .form .name_heading {
  display: flex;
  align-items: center;
  color: #222;
  /* gap: 10px;
  font-size: 1.3rem;
  font-weight: 600; */
  padding-bottom: 0.5rem;
}

.form_div .form .name_heading img {
  width: 8rem;
  /* height: 100px; */
  height: auto;
}


/* --------inputs_filds----------- */
.form_div .form .inputs_filds {
  /* background-color: aliceblue; */
  padding: 1rem 3rem;
}

.form_div .form .heading {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.form_div .form .pera {
  font-size: 1rem;
  margin-bottom: -0.1em;
}

.form_div .form .input {
  margin: 2.4rem 0;
}

.form_div .form .input div {
  margin-bottom: 0.3rem;
}

.form_div .form .input div label {
  display: block;
  margin-bottom: 5px;
}

.form_div .form .input .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  background: #f8f8f8 !important;
}

.form_div .form .submitButton {
  font-size: 1.2rem !important;
  background-color: #e5ecf6 !important;
  color: #222 !important;
}

@media only screen and (max-width: 900px) {

  html,
  body {
    font-size: 14px;
  }

  .form_div .form {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -0%);

    padding: 1rem;
  }

  .form_div .form .inputs_filds {
    padding: 1rem 2rem;
  }
}


@media only screen and (max-width: 700px) {

  .form_div {
    position: absolute;
    top: 5%;
    right: unset;
    width: 100%;
    /* height: 6%; */
  }

  .form_div .form {
    position: relative;
    right: 0;

  }

}


@media only screen and (max-width: 600px) {

  html,
  body {
    font-size: 13px;
  }


  .form_div .form .inputs_filds {
    padding: 0rem 1rem;
  }
}