.contianer_main {
    background-color: #FFFFFF;
    height: 80vh;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    min-height: 700px;
    margin-bottom: 60px;
    padding: 1rem;

}
.contianer_main::-webkit-scrollbar
{
	width: 2px;
	height: 2px;
	background-color: #F3F3F3;
}